In [1]:
# All 545110-... is weather from Beijing Airport

In [2]:
import pandas as pd
import numpy as np

In [3]:
def get_weather(file):
    with open(file,'r') as fin:
        lines = fin.readlines()
    return lines

In [6]:
f15 = get_weather('545110-99999-2015')

In [14]:
# Control Data Section
f15[0][0:60]

'0099545110999992015010100004+39933+116283FM-12+005599999V020'

In [24]:
# Mandatory Data Section
f15[0][59:106]

'03401N001019999999N010000199-00721-02041103491A'

In [19]:
len(f15)

20395

In [20]:
24*265

6360

In [23]:
f15[0][15:28]

'2015010100004'

### Create Dataset from strings

In [25]:
f16 = get_weather('545110-99999-2016')
f17 = get_weather('545110-99999-2017')

In [143]:
def extract_data(line):
    # Remove ending \n
    line = line.strip()
    ## Control Data Section
    # Pos. 1-4 - Total varchar
    total_chars = line[:4]
    # Pos 5-10 - USAF weather station
    # 11-15 - WBAN id
    # 16 - 23 date
    date = line[15:23]
    # time/hour
    time_ = line[23:27]
    #### Mandatory Data Section
    ## Dew point 
    # The temperature to which a given parcel of air 
    # must be cooled at constant pressure and water vapor content in order for saturation to occur.
    dew_point = line[93:98]
    # temperature in degrees Celcius
    air_temp = line[87:92]
    # Air Pressure
    # The air pressure relative to Mean Sea Level (MSL).
    # Units - Hectopascals
    
    air_pressure = line[99:104]
    if int(air_pressure) == 99999:
        air_pressure = 'NaN'
    ## Combined wind direction
    # The angle, measured in a clockwise direction, between true north and 
    # the direction from which the wind is blowing.
    wind_dir = line[60:63]
    if int(wind_dir) == 999:
        wind_dir = 'NaN'
    ## Cumulated wind speed
    # The rate of horizontal travel of air past a fixed point
    wind_speed = line[65:69]
    
    ###### Additional Data Section
    chars_add = line[105:108]
    num_rain_attrs = line[108:111]
    # Cumulated hours of snow
    try:
        variable_index_snow = line.index('L')
        num_hours_snow = line[variable_index_snow + 2: variable_index_snow + 4]
    except ValueError as e:
        num_hours_snow = 'NaN'
        
    # Cumulated hours of rain
    try:
        var_index_additional_sec = line.index('ADD')
        num_hours_rain = int(line[var_index_additional_sec + 6: var_index_additional_sec + 8])
    except ValueError as e:
        num_hours_rain = 'NaN'
    if num_hours_rain == 99:
        num_hours_rain = 'NaN'
        
    #print(line)
    return tuple((date, time_, dew_point, air_temp, air_pressure, wind_dir, wind_speed, 
                 num_hours_snow, num_hours_rain))

def prepare_df(lines):
    return [extract_data(line) for line in lines]

def make_df(first_year, additional_years):
    all_years = first_year
    for year in additional_years:
        all_years += year
    all_years = prepare_df(all_years)
    columns = ['date', 'time', 'dew_point', 'air_temp', 'air_pressure','wind_dir', 'wind_speed',
              'cumulative_snow_hours', 'cumulative_rain_hours']
    return pd.DataFrame(all_years, columns=columns)

In [144]:
extract_data(f15[0])

('20150101', '0000', '-0204', '-0072', '10349', '340', '0010', 'NaN', 'NaN')

In [145]:
df = make_df(f15, [f16, f17])

In [146]:
df['year'] = df['date'].apply(lambda x: str(x)[:4])
df['month'] = df['date'].apply(lambda x: int(str(x)[4:6]))
df['day'] = df['date'].apply(lambda x: int(str(x)[6:8]))
df['hour'] = df['time'].apply(lambda x: int(str(x)[:2]))
df['datetime'] = df['date'] + df['time']

In [147]:
df_unique_datetime = df.drop_duplicates(subset='datetime')

In [148]:
df_unique_datetime['datehour'] = df_unique_datetime['date'] +\
    df_unique_datetime['hour'].apply(lambda x: str(x))

/Users/vikram/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [149]:
df_unique_hour = df_unique_datetime.drop_duplicates(subset='datehour')

In [150]:
final = df_unique_hour.copy()

In [151]:
final = final.drop(['date', 'time', 'datetime', 'datehour'], axis=1, inplace=False)

In [153]:
final

,dew_point,air_temp,air_pressure,wind_dir,wind_speed,cumulative_snow_hours,cumulative_rain_hours,year,month,day,hour
0,-0204,-0072,10349,340,0010,NaN,NaN,2015,1,1,0
3,-0220,-0050,NaN,020,0020,NaN,10,2015,1,1,1
5,-0220,-0030,NaN,030,0030,NaN,10,2015,1,1,2
7,-0225,-0012,10340,180,0030,NaN,71,2015,1,1,3
10,-0220,+0000,NaN,NaN,0020,NaN,10,2015,1,1,4
12,-0220,+0010,NaN,160,0030,NaN,10,2015,1,1,5
14,-0234,+0022,10289,220,0030,NaN,6,2015,1,1,6
17,-0230,+0020,NaN,200,0030,NaN,10,2015,1,1,7
19,-0240,+0020,NaN,180,0040,NaN,10,2015,1,1,8
21,-0228,+0001,10269,220,0010,,1,2015,1,1,9
24,-0210,-0010,NaN,180,0030,NaN,10,2015,1,1,10
26,-0190,-0020,NaN,NaN,0010,NaN,10,2015,1,1,11
28,-0213,-0019,10266,200,0020,NaN,1,2015,1,1,12
31,-0190,-0080,NaN,070,0010,NaN,0,2015,1,1,13
33,-0180,-0060,NaN,340,0020,NaN,0,2015,1,1,14
35,-0191,-0049,10272,320,0010,,NaN,2015,1,1,15
38,-0180,-0040,NaN,260,0020,NaN,0,2015,1,1,16
40,-0190,-0050,NaN,350,0030,NaN,10,2015,1,1,17
42,-0178,-0057,10287,NaN,9999,,1,2015,1,1,18
45,-0180,-0020,NaN,020,0050,NaN,10,2015,1,1,19
47,-0180,-0030,NaN,020,0040,NaN,10,2015,1,1,20
49,-0190,-0031,10304,040,0030,,NaN,2015,1,1,21
52,-0180,-0050,NaN,NaN,0010,NaN,10,2015,1,1,22
54,-0170,-0070,NaN,020,0020,NaN,10,2015,1,1,23
56,-0171,-0057,10321,040,0020,NaN,NaN,2015,1,2,0
59,-0150,-0010,NaN,NaN,0010,NaN,10,2015,1,2,1
61,-0180,+0000,NaN,030,0030,NaN,10,2015,1,2,2
63,-0190,+0016,10328,040,0020,NaN,21,2015,1,2,3
66,-0190,+0030,NaN,040,0040,NaN,10,2015,1,2,4
68,-0180,+0050,NaN,020,0020,NaN,10,2015,1,2,5
...,...,...,...,...,...,...,...,...,...,...,...
58494,-0070,-0030,NaN,360,0020,NaN,10,2017,11,16,16
58496,-0070,-0010,NaN,360,0020,NaN,10,2017,11,16,17
58498,-0071,-0015,10208,020,0010,NaN,6,2017,11,16,18
58501,-0070,-0030,NaN,360,0030,NaN,10,2017,11,16,19
58503,-0070,-0010,NaN,330,0040,NaN,10,2017,11,16,20
58505,-0097,+0032,10207,020,0020,NaN,6,2017,11,16,21
58508,-0080,+0000,NaN,340,0050,NaN,10,2017,11,16,22
58510,-0110,+0030,NaN,320,0060,34,10,2017,11,16,23
58512,-0150,+0050,10249,360,0060,,6,2017,11,17,0
58515,-0150,+0050,NaN,330,0100,NaN,10,2017,11,17,1
58517,-0170,+0050,NaN,330,0110,NaN,10,2017,11,17,2
58519,-0152,+0041,10281,360,0070,,6,2017,11,17,3
58522,-0180,+0060,NaN,320,0110,NaN,10,2017,11,17,4
58524,-0190,+0050,NaN,320,0090,NaN,10,2017,11,17,5
58526,-0185,+0045,10288,360,0040,,6,2017,11,17,6
58529,-0190,+0060,NaN,330,0090,NaN,10,2017,11,17,7
58531,-0220,+0050,NaN,340,0090,NaN,10,2017,11,17,8
58533,-0224,+0035,10311,360,0030,,6,2017,11,17,9
58536,-0220,+0020,NaN,330,0090,NaN,10,2017,11,17,10
58538,-0230,+0010,NaN,330,0100,NaN,10,2017,11,17,11
58540,-0249,+0005,10347,360,0040,NaN,6,2017,11,17,12
58543,-0220,-0010,NaN,320,0080,NaN,10,2017,11,17,13
58545,-0220,-0020,NaN,320,0090,NaN,10,2017,11,17,14
58547,-0242,-0015,10375,360,0020,NaN,6,2017,11,17,15
58550,-0220,-0020,NaN,320,0100,75,10,2017,11,17,16
58552,-0220,-0020,NaN,330,0110,85,10,2017,11,17,17
58554,-0232,-0027,10371,360,0040,NaN,6,2017,11,17,18
58557,-0210,-0030,NaN,310,0050,NaN,10,2017,11,17,19
58559,-0200,-0030,NaN,310,0080,NaN,10,2017,11,17,20
58561,-0233,-0029,10366,320,0020,NaN,6,2017,11,17,21

In [152]:
final.to_csv('beijing_weather_2015_2017.csv')

Attribute Information:

No: row number 
year: year of data in this row 
month: month of data in this row 
day: day of data in this row 
hour: hour of data in this row 
pm2.5: PM2.5 concentration (ug/m^3) 
DEWP: Dew Point (â„ƒ) 
TEMP: Temperature (â„ƒ) 
PRES: Pressure (hPa) 
cbwd: Combined wind direction 
Iws: Cumulated wind speed (m/s) 
Is: Cumulated hours of snow 
Ir: Cumulated hours of rain